:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --hero-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --hover-accent-color: #188ce8;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "roboto", sans-serif;

  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

.link {
  text-decoration: none;
  
}

.title {
  color: var(--title-color);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.page-hero,
.page-footer {
  background-color: var(--hero-background-color);
}

.button {
    cursor: pointer;
}


/* Header */

.logo {
  color: var(--accent-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: #ffffff;
}

.site-nav .link {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

.contacts-header .link {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.contacts-header .link:hover,
.contacts-header .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero-title {
  color: var(--primary-white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero-button {
  width: 216px;
  height: 50px;

  background-color: var(--accent-color);
  border-style: none;
  border-radius: 4px;
  color: var(--primary-white-color);

  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 2.3;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.06em;

}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-accent-color);
}

/* Our qualities */

.visually-hidden {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }

.qualities-section {
  display: flex;
}

.qualities-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Specialization */

.specialization-picts {
  display: flex;
}

/* Our Team */

.team {
    background-color: var(--secondary-background-color);
}

.team-card {
    background-color: var(--primary-white-color);
}

.team-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-cards {
  display: flex;
}

.team-card p {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Footer */

.contacts .link {
  color: var(--primary-white-color);
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.postaddress.link {
  color: var(--primary-white-color);
  font-style: normal;
}

.postaddress.link:hover,
.postaddress.link:focus {
  color: var(--accent-color);
}

/* Portfolio */


/* Buttons */
.buttons {
  display: flex;
}

.gallery-button {
  background-color: var(--secondary-background-color);
  color: var(--title-color);
  border: none;
  border-radius: 4px;

  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.gallery-button:hover,
.gallery-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Card-set */

.card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-align: left;
}

.card-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  
}

/* .section-title {
    text-align: center;
    color: var(--title-color);
    font-size: 36px;
    line-height: 1.16;
} */

/* .buttons {
    display: flex;
} */
